<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>

<%= form_for(Message.new) do |f| %>

  名前:
  
<%= f.text_field :name %>

  内容:
  
<%= f.text_field :body %>

  
<%= f.submit %>

<% end %>